[submodule ".vim/pack/default/start/vim-gutentags"]
	path = .vim/pack/default/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule ".vim/pack/default/start/vim-lastplace"]
	path = .vim/pack/default/start/vim-lastplace
	url = https://github.com/farmergreg/vim-lastplace.git
[submodule ".vim/pack/default/start/vim-polyglot"]
	path = .vim/pack/default/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule ".vim/pack/default/start/vim-easymotion"]
	path = .vim/pack/default/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule ".config/kitty/themes/kitty-gruvbox-theme"]
	path = .config/kitty/themes/kitty-gruvbox-theme
	url = https://github.com/wdomitrz/kitty-gruvbox-theme.git
